* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/* a {
    text-decoration: none;
} */

/* ul,
li {
    list-style: none;
} */

/* .header {
    background-color: #000000;
} */

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.text-white {
    color: #ffffff;
}

/* .logo {
    float: left;
    padding: 20px 15px;
} */

/* .menubar {
    float: right;
} */

/* nav {
    overflow: auto;
} */

/* .menubar li {
    display: inline-block;
}

.menubar li a {
    display: inline-block;
    padding: 20px 15px;
} */

.about {
    padding: 100px 0;
}

.column {
    width: 33.33%;
    float: left;
    padding: 0 15px;
}

.box {
    border: 2px solid #000000;
    padding: 30px 25px;
    border-radius: 4px;
    text-align: center;
}

.box i {
    font-size: 100px;
}

.box h4 {
    font-size: 50px;
    margin: 20px 0;
    text-transform: uppercase;
}

.box p {
    font-size: 18px;
    margin-bottom: 15px;
}

.button {
    background-color: #000000;
    color: #ffffff;
    padding: 20px 20px;
    border-radius: 30px;
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 100;
}

.row {
    overflow: auto;
    margin: 0 -15px;
}